.hide {
  visibility: hidden;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.grid {
  display: flex;

  .building {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 2rem 2rem 0 2rem;
    border: 2px solid black;

    .elevator {
      width: 50px;
    }

    .floor {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 100%;

      &:nth-child(2n) {
        background: rgba(0, 0, 0, 0.05);
      }

      .label {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .panels {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    flex: 1 1 30%;

    .tab-icon {
      margin-right: 8px;
    }

    .panel {
      display: flex;
      justify-content: center;
      margin: 2rem;
    }

    .queue {
      display: flex;
      flex-direction: row-reverse;
      margin-top: 1rem;
      column-gap: 1rem;
    }

    .step-button {
      display: block;
      width: 200px;
    }
  }
}
